/target/
node_modules/
.husky/_/
.idea/
.vscode/
*.iml
*.class
*.log
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
# El Wrapper .mvn, mvnw y mvnw.cmd SI se versiona.

# Informes generados localmente
/documentos/
